* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
div {
  display: flex;
  flex-direction: column;
}
/* 格子组样式 */
.blank-cell-group,
.char-cell-group {
  width: 100%;
  flex-direction: row;
}
/* 格子item */
.blank-cell-group .cell-item,
.char-cell-group .cell-item {
  width: 25%;
  height: 25vw;
  padding: 0.5rem;
}

/* char格子特性样式 */
.char-cell-group {
  margin-top: 5rem;
  flex-wrap: wrap;
}

/* 格子里的字共性样式 */
.blank-cell-group .cell-item .wrapper,
.char-cell-group .cell-item .wrapper {
  width: 100%;
  height: 100%;
  border: 0.1rem solid #ddd;
}
/* char字特性 */
.char-cell-group .cell-item .wrapper {
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: none;
  color: #fff;
  background-color: orange;
}
